
@{
    ViewBag.Title = "Gallery";
}



<!-- gallery -->
<div class="gallery" id="gallery">
    <div class="container">
        <h3>Beanery <span>Photo Gallery</span></h3>
        <div class="agile_gallery_grids">
            <ul class="clearfix demo">
                <li>
                    <div class="gallery-grid1">
                        <img src="~/images/6.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4>Beanery</h4>
                            <p>Neque porro quisquam est, qui dolorem ipsum.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gallery-grid1">
                        <img src="~/images/7.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4>Beanery</h4>
                            <p>Neque porro quisquam est, qui dolorem ipsum.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gallery-grid1">
                        <img src="~/images/8.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4>Beanery</h4>
                            <p>Neque porro quisquam est, qui dolorem ipsum.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gallery-grid1">
                        <img src="~/images/9.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4>Beanery</h4>
                            <p>Neque porro quisquam est, qui dolorem ipsum.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gallery-grid1">
                        <img src="~/images/10.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4>Beanery</h4>
                            <p>Neque porro quisquam est, qui dolorem ipsum.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gallery-grid1">
                        <img src="~/images/11.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4>Beanery</h4>
                            <p>Neque porro quisquam est, qui dolorem ipsum.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gallery-grid1">
                        <img src="~/images/12.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4>Beanery</h4>
                            <p>Neque porro quisquam est, qui dolorem ipsum.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gallery-grid1">
                        <img src="~/images/13.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4>Beanery</h4>
                            <p>Neque porro quisquam est, qui dolorem ipsum.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gallery-grid1">
                        <img src="~/images/14.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4>Beanery</h4>
                            <p>Neque porro quisquam est, qui dolorem ipsum.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gallery-grid1">
                        <img src="~/images/15.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4>Beanery</h4>
                            <p>Neque porro quisquam est, qui dolorem ipsum.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gallery-grid1">
                        <img src="~/images/10.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4>Beanery</h4>
                            <p>Neque porro quisquam est, qui dolorem ipsum.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="gallery-grid1">
                        <img src="~/images/11.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4>Beanery</h4>
                            <p>Neque porro quisquam est, qui dolorem ipsum.</p>
                        </div>
                    </div>
                </li>
            </ul>
            <script src="js/jquery.picEyes.js"></script>
            <script>
					$(function(){
						//picturesEyes($('.demo li'));
						$('.demo li').picEyes();
					});
            </script>
        </div>
    </div>
</div>
<!-- //gallery -->
<!-- count-down -->
<div class="count-down">
    <div class="container">
        <h3>
            Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
            voluptatibus maiores alias consequatur aut.
        </h3>
        <div class="w3_updates_bottom_grids">
            <div class="col-md-3 w3_updates_bottom_grid">
                <div class="w3_updates_bottom_grid1">
                    <p class="counter">324</p>
                    <h4>Drinks</h4>
                </div>
            </div>
            <div class="col-md-3 w3_updates_bottom_grid">
                <div class="w3_updates_bottom_grid1">
                    <p class="counter">243</p>
                    <h4>Special Dishes</h4>
                </div>
            </div>
            <div class="col-md-3 w3_updates_bottom_grid">
                <div class="w3_updates_bottom_grid1">
                    <p class="counter">342</p>
                    <h4>Desserts</h4>
                </div>
            </div>
            <div class="col-md-3 w3_updates_bottom_grid">
                <div class="w3_updates_bottom_grid1">
                    <p class="counter">453</p>
                    <h4>Italian Food</h4>
                </div>
            </div>
            <div class="clearfix"> </div>
            <!-- Starts-Number-Scroller-Animation-JavaScript -->
            <script src="~/js/waypoints.min.js"></script>
            <script src="~/js/counterup.min.js"></script>
            <script>
						jQuery(document).ready(function( $ ) {
							$('.counter').counterUp({
								delay: 20,
								time: 1000
							});
						});
            </script>
            <!-- //Starts-Number-Scroller-Animation-JavaScript -->
        </div>
    </div>
</div>

