@{
    ViewBag.Title = "Home Page";
}



<div class="nav-bottom">
    <div class="container">
        <h3>Welcome to <span>Italian Restaurant</span></h3>
        <p class="iure">
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
            adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
            magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
            exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
            consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
            quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
            nulla pariatur
        </p>
        <div class="w3ls_nav_bottom">
            <div class="col-xs-4 tab-grid-left">
                <!-- required for floating -->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#Tab1" data-toggle="tab">Pasta</a></li>
                    <li><a href="#Tab2" data-toggle="tab">Pizza</a></li>
                    <li><a href="#Tab3" data-toggle="tab">Noodles</a></li>
                </ul>
            </div>
            <div class="col-xs-8 tab-grid-right">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="Tab1">
                        <div class="col-md-7 w3ls_nav_bottom_left">
                            <h4>Pasta</h4>
                            <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus
                                qui blanditiis velit, sed quia non numquam eius modi tempora
                                incidunt ut labore et dolore magnam aliquam quaerat.
                            </p>
                        </div>
                        <div class="col-md-5 w3ls_nav_bottom_right">
                            <img src="~/images/1.jpg" alt=" " class="img-responsive" />
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="tab-pane" id="Tab2">
                        <div class="col-md-7 w3ls_nav_bottom_left">
                            <h4>Pizza</h4>
                            <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus
                                qui blanditiis velit, sed quia non numquam eius modi tempora
                                incidunt ut labore et dolore magnam aliquam quaerat.
                            </p>
                        </div>
                        <div class="col-md-5 w3ls_nav_bottom_right">
                            <img src="~/images/2.jpg" alt=" " class="img-responsive" />
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="tab-pane" id="Tab3">
                        <div class="col-md-7 w3ls_nav_bottom_left">
                            <h4>Noodles</h4>
                            <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus
                                qui blanditiis velit, sed quia non numquam eius modi tempora
                                incidunt ut labore et dolore magnam aliquam quaerat.
                            </p>
                        </div>
                        <div class="col-md-5 w3ls_nav_bottom_right">
                            <img src="~/images/3.jpg" alt=" " class="img-responsive" />
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //nav-bottom -->
<!-- about -->
<div class="about" id="about">
    <div class="col-md-5 wthree_about_left">
        <img src="~/images/4.jpg" alt=" " class="img-responsive" />
    </div>
    <div class="col-md-7 wthree_about_right">
        <h3>About <span>Beanery</span></h3>
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
            veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
            voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
            magni dolores eos qui ratione voluptatem sequi nesciunt. <i>
                Neque porro quisquam est,
                qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                voluptatem.
            </i>
        </p>
        <div class="wthree_about_right_grids">
            <div class="col-md-6 wthree_about_right_grid">
                <div class="col-xs-4 wthree_about_right_grid_left">
                    <div class="hvr-rectangle-in">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-xs-8 wthree_about_right_grid_right">
                    <h4>dolore magnam</h4>
                    <p>Neque porro quisquam est, qui dolorem.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 wthree_about_right_grid">
                <div class="col-xs-4 wthree_about_right_grid_left">
                    <div class="hvr-rectangle-in">
                        <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-xs-8 wthree_about_right_grid_right">
                    <h4>qui dolorem</h4>
                    <p>Neque porro quisquam est, qui dolorem.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 wthree_about_right_grid">
                <div class="col-xs-4 wthree_about_right_grid_left">
                    <div class="hvr-rectangle-in">
                        <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-xs-8 wthree_about_right_grid_right">
                    <h4>quisquam est</h4>
                    <p>Neque porro quisquam est, qui dolorem.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 wthree_about_right_grid">
                <div class="col-xs-4 wthree_about_right_grid_left">
                    <div class="hvr-rectangle-in">
                        <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-xs-8 wthree_about_right_grid_right">
                    <h4>magnam aliq</h4>
                    <p>Neque porro quisquam est, qui dolorem.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!-- //about -->
