
@{
    ViewBag.Title = "Team";
}
<!-- team -->
<div class="team" id="team">
    <div class="container">
        <h3>Meet Our <span>Amazing Team</span></h3>
        <div class="agile_team_grids">
            <div class="col-md-3 agile_team_grid">
                <div class="ih-item circle effect1">
                    <div class="spinner"></div>
                    <div class="img"><img src="~/images/1.png" alt=" " class="img-responsive" /></div>
                    <div class="info">
                        <div class="info-back">
                            <h4>Chef</h4>
                            <p>Dolorem</p>
                        </div>
                    </div>
                </div>
                <h4>Smith Kevin <span>Chef</span></h4>
                <ul class="social-nav model-8">
                    <li><a href="#" class="facebook"><i></i></a></li>
                    <li><a href="#" class="twitter"><i> </i></a></li>
                    <li><a href="#" class="g"><i></i></a></li>
                    <li><a href="#" class="p"><i></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 agile_team_grid">
                <div class="ih-item circle effect1">
                    <div class="spinner"></div>
                    <div class="img"><img src="~/images/2.png" alt=" " class="img-responsive" /></div>
                    <div class="info">
                        <div class="info-back">
                            <h4>Chef</h4>
                            <p>Dolorem</p>
                        </div>
                    </div>
                </div>
                <h4>Thomson Doe <span>Chef</span></h4>
                <ul class="social-nav model-8">
                    <li><a href="#" class="facebook"><i></i></a></li>
                    <li><a href="#" class="twitter"><i> </i></a></li>
                    <li><a href="#" class="g"><i></i></a></li>
                    <li><a href="#" class="p"><i></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 agile_team_grid">
                <div class="ih-item circle effect1">
                    <div class="spinner"></div>
                    <div class="img"><img src="~/images/3.png" alt=" " class="img-responsive" /></div>
                    <div class="info">
                        <div class="info-back">
                            <h4>Chef</h4>
                            <p>Dolorem</p>
                        </div>
                    </div>
                </div>
                <h4>Edward Crisp <span>Chef</span></h4>
                <ul class="social-nav model-8">
                    <li><a href="#" class="facebook"><i></i></a></li>
                    <li><a href="#" class="twitter"><i> </i></a></li>
                    <li><a href="#" class="g"><i></i></a></li>
                    <li><a href="#" class="p"><i></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 agile_team_grid">
                <div class="ih-item circle effect1">
                    <div class="spinner"></div>
                    <div class="img"><img src="~/images/4.png" alt=" " class="img-responsive" /></div>
                    <div class="info">
                        <div class="info-back">
                            <h4>Chef</h4>
                            <p>Dolorem</p>
                        </div>
                    </div>
                </div>
                <h4>John Ali <span>Chef</span></h4>
                <ul class="social-nav model-8">
                    <li><a href="#" class="facebook"><i></i></a></li>
                    <li><a href="#" class="twitter"><i> </i></a></li>
                    <li><a href="#" class="g"><i></i></a></li>
                    <li><a href="#" class="p"><i></i></a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
            <p class="eum">
                Quis autem vel eum iure reprehenderit qui in ea voluptate
                velit esse quam nihil molestiae consequatur, vel illum
                qui dolorem eum fugiat quo voluptas nulla pariatur.
            </p>
        </div>
    </div>
</div>
<!-- //team -->
<!-- services -->
<div class="services" id="services">
    <div class="container">
        <h3>Beanery <span>Special Services</span></h3>
        <div class="agileits_services_grids">
            <div class="col-md-3 agileits_services_grid">
                <div class="agileits_services_grid1 hvr-rectangle-in">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </div>
                <h4>voluptas nulla</h4>
                <p>
                    Quis autem vel eum iure reprehenderit qui in ea voluptate
                    velit esse quam.
                </p>
            </div>
            <div class="col-md-3 agileits_services_grid">
                <div class="agileits_services_grid1 hvr-rectangle-in">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </div>
                <h4>velit esse quam</h4>
                <p>
                    Quis autem vel eum iure reprehenderit qui in ea voluptate
                    velit esse quam.
                </p>
            </div>
            <div class="col-md-3 agileits_services_grid">
                <div class="agileits_services_grid1 hvr-rectangle-in">
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                </div>
                <h4>autem vel eum</h4>
                <p>
                    Quis autem vel eum iure reprehenderit qui in ea voluptate
                    velit esse quam.
                </p>
            </div>
            <div class="col-md-3 agileits_services_grid">
                <div class="agileits_services_grid1 hvr-rectangle-in">
                    <span class="glyphicon glyphicon-compressed" aria-hidden="true"></span>
                </div>
                <h4>quam molestiae</h4>
                <p>
                    Quis autem vel eum iure reprehenderit qui in ea voluptate
                    velit esse quam.
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //services -->
